.sidebar{
  width: 15vw;
  height: 100vh;
  position: fixed;
  /* border: 2px solid; */
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #e5e5e5;
  overflow: hidden;
}

.sidebar img{
  width: 15vw;
  height: 10vh;
}

.sidebarList{
  display: flex;
  flex-direction: column;
}

.sidebarList h1{
  font-size: 2vw;
  width: 100%;
  height: 5vh;
  color: white;
  /* border: 1px solid red; */
  /* margin-top: 1rem; */
  text-align: center;
}

.sidebarList h1:hover{
  color: rgb(212, 205, 205);
  border: 1px solid rgb(116, 116, 116);
  height: calc(5vh-1px);
  width: calc(15vw-1px);
}

.navbar{
  width: 84vw;
  height: 10vh;
  /* border: 2px solid green; */
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e5e5e5;
  z-index: 2;
}

.renderArea{
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  /* border: 2px solid green; */
}
.backgroundUltra{
background-color: #1f2041;
width: 97vw;
height: 100vh;
overflow: hidden;

}
.circle1{
  position: absolute;
  width: 60vw;
  height: 60vh;
  border-radius: 50%;
  filter: blur(300px);
  background-color: #ff0015;
  top: 0;
  left: 0;
}
.circle2{
  position: absolute;
  width: 60vw;
  height: 60vh;
  border-radius: 50%;
  filter: blur(300px);
  background-color: #06b6d4;
  bottom: 0;
  right: 0;
}